/*  STATUSMAP = {8:'aborted', 7:'canceled', 6:'stopped', 5:'processing',
                   3:'pending', 4:'held', 9:'completed'}
*/

#loadingbar {
  display:none;
  background-color:red;
  color:white;
  top:0px;
  right:0px;
  position:fixed;
}

#printerstatus {
  text-align: center;
  font-size:large;
  border:1px;
}

td {
  text-align: center;
}
tbody {
  font-size:x-large;
}
.aborted {
  background-color: #cccccc;
}

.canceled {
  background-color: #cccccc;
}

.stopped {
  background-color: #ff3333;
}

.processing {
  background-color: #ffbb33;
}

.pending {
  background-color: #eeff77;
}

.held {
  background-color: #eeff77;
}

.completed {
  background-color: #88ff77;
}

.joblogo {
  float:left;
  vertical-align:middle;
}

/*   STATUSMAP = {1287:'busy', 3:'idle', 1290:'deactivated', 4:'processing',
 *                5:'stopped'}
 */

.printer-deactivated {
  background-color: #cccccc;
}

.printer-processing {
  background-color: #ffbb33;
}

.printer-busy {
  background-color: #eeff77;
}

.printer-stopped {
  background-color: #eeff77;
}

.printer-idle {
  background-color: #88ff77;
}
