<html>
  <head>
    <title>CCIS Print Queues</title>
  </head>
  <body background="#EAEAEA"> 
    <center><h1>Print Queues</h1></center>
    <h3>Lab Queues</h3>
    <ul>
      <li><a href="/printqueue/102/">102 (Dali & Reiniger)</a>
    </ul>
    <h3>Lab Printers</h3>
    <ul>
      <li><a href="/printqueue/reiniger/">Reiniger - 102</a>
      <li><a href="/printqueue/dali/">Dali - 102</a>
      <li><a href="/printqueue/hanna/">Hanna - 210</a>
      <li><a href="/printqueue/barbera/">Barbera - 212</a>
      </ul>
  </body>
</html>
